@{
    string controllerName = Request.CurrentExecutionFilePath;
}

@*@model WebCoiner.Models.IndexViewModel
@{
	ViewBag.Title = "Manage";
	var user = Model.AspNetUser.UserName;
}*@

<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>Prolution</title>
    <!--<base href="/">-->
    <base href=".">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.26.0/apexcharts.min.css" integrity="sha512-JQIBcZTDAWa1umaHZvCXqHC1xa4jU8NyTWFCV977oIcbcLFdqtRxgoNC1CEv3c9GJWdIj4Vs7jfhgDQSEkpMMQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/Content/ico/vendor.bundle.css" id="layoutstyle">
    <link rel="stylesheet" href="~/Content/ico/style.css">
    <link rel="stylesheet" href="~/assets/admin/source/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<link rel="shortcut icon" type="image/png/ico"
          href="~/assets/images/favicon.png">*@
    <link href="~/assets/admin/source/extractcssone.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/login/vendor.bundle.css">
    <link rel="stylesheet" href="~/assets/login/style.css">
    <script src="https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/index.min.js"></script>
    <link rel="stylesheet" href="~/assets/admin/source/vendor.css">
    <link rel="stylesheet" href="~/assets/admin/source/style.css">
    <link rel="stylesheet" href="~/assets/admin/source/main.css">

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Content/jquery-1.12.4.min.js"></script>*@

    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .dropbtn {
            background-image: url('https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png');
            background-color: #3498DB;
            color: white;
            padding: 25px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }





        .btn-circlee {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

            .btn-circlee.btn-lg {
                width: 50px;
                height: 50px;
                padding: 10px 16px;
                font-size: 18px;
                line-height: 1.33;
                border-radius: 25px;
            }

            .btn-circlee.btn-xl {
                width: 70px;
                height: 70px;
                padding: 10px 16px;
                font-size: 24px;
                line-height: 1.33;
                border-radius: 35px;
            }
    </style>
</head>

<body class="no-touch">
    <app-root>
        <div class="topbar-wrap">
            <div class="topbar is-sticky">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="topbar-nav d-lg-none">
                            <li class="topbar-nav-item relative">
                                <a class="toggle-nav" href="#">
                                    <div class="toggle-icon">
                                        <span class="toggle-line"></span>
                                        <span class="toggle-line"></span>
                                        <span class="toggle-line"></span>
                                        <span class="toggle-line"></span>
                                    </div>
                                </a>
                            </li><!-- .topbar-nav-item -->
                        </ul><!-- .topbar-nav -->
                        <a class="topbar-logo" href="@Url.Action("Dashboard", "UserDashboard")">
                            <img src="~/assets/images/logo.png" srcset="/assets/images/logo.png 2x" alt="logo">
                        </a>
                        <ul class="topbar-nav">
                            <li class="topbar-nav-item relative">
                                @*<span class="user-welcome d-none d-lg-inline-block">@Model.AspNetUser.UserName</span>*@
                                <a class="toggle-tigger user-thumb" href="javascript:void(0)"><em class="ti ti-user"></em></a>
                                <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                    <div class="user-status">
                                    </div>
                                    <ul class="user-links bg-light">
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="ti ti-power-off"></i>Logout</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </li><!-- .topbar-nav-item -->
                        </ul><!-- .topbar-nav -->
                    </div>
                </div><!-- .container -->
            </div><!-- .topbar -->
            <div class="navbar">
                <div class="container">
                    <div class="navbar-innr">
                        <ul class="navbar-menu">
                            @if (User.IsInRole("administrator"))
                            {
                                <li><a href="~/dashboard/list/"><em class="ikon ikon-dashboard"></em> Dashboard</a></li>
                                <li><a href="@Url.Action("create", "userdashboard")"><em class="ikon ikon-coins"></em> Buy Tokens</a></li>
                                <li><a href="javascript: void(0)" id="packages-area"><em class="ikon ikon-distribution"></em> Packages</a></li>
                                <li><a href="~/transactions/list"><em class="ikon ikon-transactions"></em> Transactions</a></li>
                                <li><a href="~/manage/index/"><em class=0"ikon ikon-user"></em> Profile</a></li>
                                <li><a href="~/promocodes/list"><em class="ikon ikon-exchange"></em> Promocodes</a></li>
                                <li><a href="~/users/list"><em class="ikon ikon-user"></em> Users</a></li>
                            }
                            else if (Request.IsAuthenticated)
                            {
                                <li><a href="~/userdashboard/dashboard/"><em class="ikon ikon-dashboard"></em> Dashboard</a></li>
                                <li><a href="@Url.Action("create", "userdashboard")"><em class="ikon ikon-coins"></em> Buy Tokens</a></li>
                                <li><a href="javascript: void(0)" id="packages-area"><em class="ikon ikon-distribution"></em> Packages</a></li>
                                <li><a href="~/userdashboard/list" aria-current="page"><em class="ikon ikon-transactions"></em> Transactions</a></li>
                                <li><a href="~/manage/index/"><em class=0"ikon ikon-user"></em> Profile</a></li>
                            }
                        </ul>
                    </div><!-- .navbar-innr -->
                </div><!-- .container -->
            </div><!-- .navbar -->
        </div><!-- .topbar-wrap -->
        <app-profile>
            @RenderBody()
        </app-profile>
    </app-root>

    @RenderSection("scripts", required: false)

    <script src="~/assets/admin/js/script.js?ver=104"></script>
    <script>

        // Active page menu when click
        var CurURL = window.location.href, urlSplit = CurURL.split("#");
        var $nav_link = $("a");
        if ($nav_link.length > 0) {
            $nav_link.each(function () {
                if (CurURL === (this.href) && (urlSplit[1] !== "")) {
                    $(this).closest("li").addClass("active").parent().closest("li").addClass("active");
                }
            });
        }

        //// Set the date we're counting down to
        //var countDownDate = new Date("jan 01, 2022 00:00:00").getTime();

        //// Update the count down every 1 second
        //var x = setInterval(function () {

        //    // Get todays date and time
        //    var now = new Date().getTime();

        //    // Find the distance between now and the count down date
        //    var distance = countDownDate - now;

        //     //Time calculations for days, hours, minutes and seconds
        //    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        //    $('.countdown-time-first').html(days);
        //    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        //    $('.countdown-time-second').html(hours);
        //    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        //    $('.countdown-time-third').html(minutes);
        //    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        //    $('.countdown-time-last').html(seconds);
        //}, 1000);
    </script>
    <script type="text/javascript">
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */

        function redirectBack() {
            var url = '@Url.Action("Dashboard", "UserDashboard")';
            window.location.href = url;
        };


        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>


</body>

</html>
