@using WebCoiner.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";

    string returnstring = "/userdashboard/dashboard/";
    if (ViewBag.ReturnUrl != null)
    {
        returnstring = ViewBag.ReturnUrl;
    }
}
<!DOCTYPE html>
<html lang="en" data-lt-installed="true">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>5G Prime Pro</title>
    <!--<base href="/">-->
    <base href=".">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/admin/source/5glogo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.26.0/apexcharts.min.css" integrity="sha512-JQIBcZTDAWa1umaHZvCXqHC1xa4jU8NyTWFCV977oIcbcLFdqtRxgoNC1CEv3c9GJWdIj4Vs7jfhgDQSEkpMMQ==" crossorigin="anonymous">

    <link rel="stylesheet" href="/Content/ico/vendor.bundle.css" id="layoutstyle">
    <link rel="stylesheet" href="/Content/ico/style.css">
    <link rel="stylesheet" href="/assets/admin/source/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png/ico" href="/assets/admin/source/5glogo.png">
    <link href="/assets/admin/source/extractcssone.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/login/vendor.bundle.css">
    <link rel="stylesheet" href="/assets/login/style.css">
    <script src="https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/index.min.js"></script>
    <link rel="stylesheet" href="/assets/admin/source/vendor.css">
    <link rel="stylesheet" href="/assets/admin/source/style.css">
    <link rel="stylesheet" href="/assets/admin/source/main.css">

    <script src="/Scripts/jquery-3.3.1.min.js"></script>


    <script src="/Scripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid animation animated fadeInUp " style=" padding: 0 !important;">
    <div class="page-ath-wrap flex-row-reverse">

        <div class="page-ath-content">
            <div class="page-ath-header">
                <a href="~/Views/Home/Index.cshtml" class="page-ath-logo">
                    <img class="page-ath-logo-img" src="~/assets/admin/source/5glogo.png" alt="Kragx Sale">
                </a>
            </div>
            <div class="page-ath-form">
                <h2 class="page-ath-heading" style="color: #569B8C">
                    Sign in<small>
                    </small>
                </h2>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = returnstring }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <form class="login-form validate validate-modern" novalidate="novalidate">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group input-item">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="input-item text-left">
                                <input class="input-checkbox input-checkbox-md" type="checkbox" name="remember" id="remember-me">
                                <label for="remember-me">Remember Me</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </form>
                }


                <div class="gaps-4x"></div>
                <div class="form-note">
                    Don’t have an account?  @Html.ActionLink("Register as a new user", "Register", null, new { @class = "btn-link" })
                </div>
            </div>
        </div>
        <div class="page-ath-gfx" style="background-image: url(../../assets/images/LogIn.jpg);">
            <div class="w-100 d-flex justify-content-center">
                <div class="col-md-8 col-xl-5">

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var base_url = "https://kragx.io/sale",
        csrf_token = document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        layouts_style = "modern";</script>
<script src="~/assets/login/jquery.bundle.js"></script>
<script src="~/assets/login/script.js"></script>
<script type="text/javascript">
    jQuery(function () {
        var $frv = jQuery('.validate');
        if ($frv.length > 0) { $frv.validate({ errorClass: "input-bordered-error error" }); }
    });</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</body>

</html>

<style>
    .footer-bar {
        display: none !important;
    }
    .dropbtn {
        background-image: url('https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png');
        background-color: #3498DB;
        color: white;
        padding: 25px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }


    .btn-circlee {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

        .btn-circlee.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
        }

        .btn-circlee.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
        }

    #backbutton {
        display: none !important
    }
</style>
