@using WebCoiner.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";

	string returnstring = "/userdashboard/dashboard/";
	if (ViewBag.ReturnUrl != null)
	{
		returnstring = ViewBag.ReturnUrl;
	}

	
	Layout = "";
	
}
<!DOCTYPE html>
<html lang="en" data-lt-installed="true">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/assets/app/dist/app.css">
    <link rel="stylesheet"
          href="app/dist/swiper-bundle.min.css" />
    <!-- end Styles -->
    <!-- Favicon and Touch Icons  -->
</head>

<body style="background-color: #050231">
    <!-- Preloading -->
    <div class="preloader">
        <div class=" loader">
            <div class="square"></div>
            <div class="path">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="text-load">Loading :</p>
        </div>
    </div>
    <!-- End Preloading -->
    <!-- MAGIC CURSOR -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- /MAGIC CURSOR -->

    <section class="sign-in">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sign-in__top center">
                        <a href="home/index.html">
                            <img id="site-logo" src="~/assets/images/logo/logo.png" style="width: 100%; height: 40px" />
                        </a>
                    </div>
                    <div class="sign-in__main">
                        <div class="top center">
                            <h3 class="title">Sign in</h3>
                            <p class="fs-17">With your ICO Account</p>
                        </div>

                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = returnstring }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-check">
                                    <div class="left">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn-action style-1"><span>Sign In</span> </button>
                            }



                    </div>

                    <p class="bottom">Dont have an account? <a href="sign-up.html">Sign up</a></p>
                </div>
            </div>
        </div>
    </section>

    <script src="~/assets/app/js/jquery.min.js"></script>
    <script src="~/assets/app/js/jquery.easing.js"></script>
    <script src="~/assets/app/js/app.js"></script>
    <script src="~/assets/app/js/mouse.js"></script>

    <script>
        var base_url = "https://kragx.io/sale",
            csrf_token = document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            layouts_style = "modern";</script>
    <script src="~/assets/login/jquery.bundle.js"></script>
    <script src="~/assets/login/script.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            var $frv = jQuery('.validate');
            if ($frv.length > 0) { $frv.validate({ errorClass: "input-bordered-error error" }); }
        });</script>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>

</html>

<style>
	.footer-bar {
		display: none !important;
	}

	.dropbtn {
		background-image: url('https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png');
		background-color: #3498DB;
		color: white;
		padding: 25px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	}

		.dropbtn:hover, .dropbtn:focus {
			background-color: #2980B9;
		}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

	.dropdown a:hover {
		background-color: #ddd;
	}

	.show {
		display: block;
	}


	.btn-circlee {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 6px 0;
		font-size: 12px;
		line-height: 1.428571429;
		border-radius: 15px;
	}

		.btn-circlee.btn-lg {
			width: 50px;
			height: 50px;
			padding: 10px 16px;
			font-size: 18px;
			line-height: 1.33;
			border-radius: 25px;
		}

		.btn-circlee.btn-xl {
			width: 70px;
			height: 70px;
			padding: 10px 16px;
			font-size: 24px;
			line-height: 1.33;
			border-radius: 35px;
		}

	.topbar-wrap {
		display: none !important
	}

	#backbutton {
		display: none !important
	}
</style>
