@model WebCoiner.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
    double raised = ((double)Model.Raised / 110000000) * 100;
    var mil = Model.Raised / 110000000;
    string controllerName = Request.CurrentExecutionFilePath;
}

@{
    Layout = "";
}


<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta charset="utf-8" />
    <title>oilbeam-ico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">


    <!-- ================== BEGIN core-css ================== -->
    <link href="~/assets/css/progres/progresshome.css" rel="stylesheet" />

    <link href="~/assets/admin/css/vendor.min.css" rel="stylesheet" />
    <link href="~/assets/admin/css/app.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
    <!-- ================== BEGIN page-css ================== -->
    <link href="~/assets/admin/plugins/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
    <!-- ================== END page-css ================== -->

</head>

<body>
    <!-- BEGIN #app -->
    <div id="app" class="app">
        <div class="modal fade show" id="myModal" style="display: none; background-color: rgba(152, 152, 152, 0.8); overflow: hidden" aria-modal="true">
            <div class="modal-dialog" style=" width: 90%; max-width: 1200px; min-height: 100%;">
                <div class="modal-content" style="background: rgba(0, 0, 0, 0.5);">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <section class="lis-bg-light">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-10 text-center">
                                        <div class="heading pb-4">
                                            <h2>Choose Your Package</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                         style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="price-table">
                                            <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light" style="background: #747474;">
                                                <h5 class="text-uppercase lis-latter-spacing-2">Basic</h5>
                                                <h1 class="display-4 lis-font-weight-500">1<small>%</small></h1>
                                                <p class="mb-0">Basic Membership</p>
                                            </div>
                                            <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                                <ul class="list-unstyled lis-line-height-3">
                                                    <li style="color: black">oilbeam-ico tokens in portfolio</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                         style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="price-table" style="color: black">
                                            <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                                 style="background-color:#e6e4e2; color: black">
                                                <h5 class="text-uppercase lis-latter-spacing-2">Silver</h5>
                                                <h1 class="display-4 lis-font-weight-500" >
                                                    1<small>%</small>-
                                                    5<small>%</small>
                                                </h1>
                                                <p class="mb-0">Silver Membership</p>
                                            </div>
                                            <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom" >
                                                <ul class="list-unstyled lis-line-height-3">
                                                    <li>oilbeam-ico tokens in portfolio</li>
                                                    <li>Minimum portfolio: $100,000</li>
                                                </ul>
                                                <a href="/userdashboard/create/" style="background-color: #28c189;"
                                                   class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                                   data-abc="true">Top Up Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                         style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="price-table" style="color: black">
                                            <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                                 style="background-color:#F3AF4C;">
                                                <h5 class="text-uppercase lis-latter-spacing-2">Gold</h5>
                                                <h1 class="display-4 lis-font-weight-500">
                                                    6<small>%</small> -
                                                    12<small>%</small>
                                                </h1>
                                                <p class="mb-0">Gold Membership</p>
                                            </div>
                                            <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                                <ul class="list-unstyled lis-line-height-3">
                                                    <li>oilbeam-ico tokens in portfolio</li>
                                                    <li>Minimum portfolio: $250,000</li>
                                                </ul>
                                                <a href="/userdashboard/create/" style="background-color: #28c189;"
                                                   class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                                   data-abc="true">Top Up Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                         style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="price-table" style="color: black">
                                            <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                                 style="        background-color:#a0b2c6;">

                                                <h5 class="text-uppercase lis-latter-spacing-2">Platinum</h5>
                                                <h1 class="display-4 lis-font-weight-500">
                                                    12<small>%</small>-20<small>%</small>
                                                </h1>
                                                <p class="mb-0">Platinum Membership</p>
                                            </div>
                                            <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                                <ul class="list-unstyled lis-line-height-3">


                                                    <li>oilbeam-ico tokens in portfolio</li>
                                                    <li>Minimum portfolio: $500,000</li>

                                                </ul>
                                                <a href="/userdashboard/create/" style="background-color: #28c189;"
                                                   class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                                   data-abc="true">Top Up Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-modal"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN #header -->
        <div id="header" class="app-header">
            <!-- BEGIN desktop-toggler -->
            <div class="desktop-toggler">
                <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>
            <!-- BEGIN desktop-toggler -->
            <!-- BEGIN mobile-toggler -->
            <div class="mobile-toggler">
                <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>
            <!-- END mobile-toggler -->
            <!-- BEGIN brand -->
            <div class="brand">
                <a href="/userdashboard/dashboard" class="brand-logo">
                    <img style="width: 200px" src="~/assets/images/logo/logo.png" />
                </a>
            </div>
            <!-- END brand -->
            <!-- BEGIN menu -->
            <div class="menu">
                <div class="menu-item dropdown dropdown-mobile-full">

                    <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
                        @if (User.IsInRole("administrator"))
                        {
                            <div class="@{if (controllerName.ToLower().Contains("/dashboard/list"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/dashboard/list/">
                                    DASHBOARD
                                    <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            </div>
                            <div class="@{if (controllerName.ToLower().Contains("/transactions/list"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center HeaderAllMainMenuActiveLink" aria-current="page" href="~/transactions/list">
                                    TRANSACTIONS
                                    <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i>

                                </a>
                            </div>
                            <div class="@{if (controllerName.ToLower().Contains("/users/list"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/users/list">
                                    USERS
                                    <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            </div>
                            <div class="@{if (controllerName.ToLower().Contains("/promocodes/list"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/promocodes/list">
                                    PROMOCODES
                                    <i class="bi bi-calendar ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            </div>
                            <div class="@{if (controllerName.ToLower().Contains("manage/"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/manage/index/">
                                    PROFILE
                                    <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            </div>
                            <div class="@{if (controllerName.ToLower().Contains("/userdashboard/create"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/userdashboard/create/">
                                    BUY TOKENS
                                    <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            </div>

                        }
                        else if (Request.IsAuthenticated)
                        {
                            <div class="@{if (controllerName.ToLower().Contains("userdashboard/dashboard/"))
                                                {@Html.Raw("active") } }">

                                <a class="dropdown-item d-flex align-items-center" href="~/userdashboard/dashboard/">
                                    DASHBOARD
                                    <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i>
                                </a>

                            </div>
                            <div class="@{if (controllerName.ToLower().Contains("userdashboard/create"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/userdashboard/create/">
                                    BUY TOKENS
                                    <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            </div>


                            <div class="@{if (controllerName.ToLower().Contains("userdashboard/list"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/userdashboard/list/">
                                    TRANSACTIONS
                                    <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i>

                                </a>
                            </div>

                            <div class="@{if (controllerName.ToLower().Contains("manage/"))
                                                {@Html.Raw("active") } }">
                                <a class="dropdown-item d-flex align-items-center" href="~/manage/index/">
                                    PROFILE
                                    <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            </div>


                        }

                        <div class="dropdown-divider"></div>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="dropdown-item LogOutButton d-flex align-items-center" href="javascript:document.getElementById('logoutForm').submit()">
                                    LOGOUT
                                    <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- END menu -->
            <!-- BEGIN menu-search -->
            <form class="menu-search" method="POST" name="header_search_form">
                <div class="menu-search-container">
                    <div class="menu-search-icon"><i class="bi bi-search"></i></div>
                    <div class="menu-search-input">
                        <input type="text" class="form-control form-control-lg" placeholder="Search menu..." />
                    </div>
                    <div class="menu-search-icon">
                        <a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </form>
            <!-- END menu-search -->
        </div>
        <!-- END #header -->
        <!-- BEGIN #sidebar -->
        <div id="sidebar" class="app-sidebar">
            <!-- BEGIN scrollbar -->
            <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
                <!-- BEGIN menu -->
                <div class="menu">
                    <div class="menu-header">Components</div>
                    @if (User.IsInRole("administrator"))
                    {
                        <div class="menu-item">
                            <a href="~/dashboard/list/" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-columns-gap"></i></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="~/manage/index/" class="menu-link">
                                <span class="menu-icon">
                                    <i class="bi bi-people"></i>
                                </span>
                                <span class="menu-text">Profile</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="~/users/list" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-people"></i></span>
                                <span class="menu-text">Users</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="~/transactions/list" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-calendar4"></i></span>
                                <span class="menu-text">Transactions</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="~/userdashboard/create/" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-pie-chart"></i></span>
                                <span class="menu-text">Buy Tokens</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="~/promocodes/list" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-compass"></i></span>
                                <span class="menu-text">Promocodes</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a  href="~/Content/OilBeam_Whitepaper.pdf" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-layout-sidebar"></i></span>
                                <span class="menu-text">Whitepaper</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="#" class="menu-link" id="modalShow">
                                <span class="menu-icon"><i class="bi bi-collection"></i></span>
                                <span class="menu-text">Packages</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="menu-link">
                                        <span class="menu-icon"><i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></span>
                                        <span class="menu-text"> LOGOUT</span>
                                    </a>
                                }
                            }
                        </div>
                    }

                    else if (Request.IsAuthenticated)
                    {
                        <div class="menu-item">
                            <a href="~/userdashboard/dashboard/" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-columns-gap"></i></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="~/manage/index/" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-people"></i></span>
                                <span class="menu-text">Profile</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="~/userdashboard/list/" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-calendar4"></i></span>
                                <span class="menu-text">Transactions</span>
                            </a>
                        </div>
                        <div class="menu-item ">
                            <a href="~/userdashboard/create/" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-pie-chart"></i></span>
                                <span class="menu-text">Buy Tokens</span>
                            </a>
                        </div>
                        <div class="menu-item ">
                            <a href="~/Content/OilBeam_Whitepaper.pdf" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-layout-sidebar"></i></span>
                                <span class="menu-text">Whitepaper</span>
                            </a>
                        </div>
                        <div class="menu-item" id="modalShow">
                            <a href="#" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-collection"></i></span>
                                <span class="menu-text">Packages</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="menu-link">
                                        <span class="menu-icon"><i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></span>
                                        <span class="menu-text"> LOGOUT</span>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
                <!-- END menu -->
            </div>
            <!-- END scrollbar -->
        </div>
        <!-- END #sidebar -->
        <!-- BEGIN mobile-sidebar-backdrop -->
        <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
        <!-- END mobile-sidebar-backdrop -->
        <!-- BEGIN #content -->
        <div id="content" class="app-content">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-3 -->
                <div class="col-xl-3 col-lg-6 mb-3">
                    <!-- BEGIN card -->
                    <div class="card mb-3">
                        <!-- BEGIN card-body -->
                        <div class="card-body1">
                            <!-- BEGIN title -->
                            <div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1">Total Investment</span>
                            </div>
                            <!-- END title -->
                            <!-- BEGIN stat-lg -->
                            <div class="row align-items-center mb-2">
                                <div class="col-5">
                                    <h3>$@Model.InvestmentAmount.ToString("#,##0")</h3>
                                </div>
                            </div>
                            <!-- END stat-lg -->
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <!-- END col-3 -->
                <!-- BEGIN col-3 -->
                <div class="col-xl-3 col-lg-6 mb-3">
                    <!-- BEGIN card -->
                    <div class="card mb-3">
                        <!-- BEGIN card-body -->
                        <div class="card-body1">
                            <!-- BEGIN title -->
                            <div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1">Current Balance</span>
                            </div>
                            <!-- END title -->
                            <!-- BEGIN stat-lg -->
                            <div class="row align-items-center mb-2">
                                <div class="col-5">
                                    <h3>$@Model.CurrentBalance.ToString("#,##0")</h3>
                                </div>
                            </div>
                            <!-- END stat-lg -->
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <!-- END col-3 -->
                <!-- BEGIN col-3 -->
                <div class="col-xl-3 col-lg-6 mb-3">
                    <!-- BEGIN card -->
                    <div class="card mb-3">
                        <!-- BEGIN card-body -->
                        <div class="card-body1">
                            <!-- BEGIN title -->
                            <div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1">Total Profit</span>
                            </div>
                            <!-- END title -->
                            <!-- BEGIN stat-lg -->
                            <div class="row align-items-center mb-2">
                                <div class="col-5">
                                    <h3>$@((Model.CurrentBalance - Model.InvestmentAmount).ToString("#,##0"))</h3>
                                </div>
                            </div>
                            <!-- END stat-lg -->
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <!-- END col-3 -->
                <!-- BEGIN col-3 -->
                <div class="col-xl-3 col-lg-6 mb-3">
                    <!-- BEGIN card -->
                    <div class="card mb-3">
                        <!-- BEGIN card-body -->
                        <div class="card-body1">
                            <!-- BEGIN title -->
                            <div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1">Token  Amount</span>
                            </div>
                            <!-- END title -->
                            <!-- BEGIN stat-lg -->
                            <div class="row align-items-center mb-2">
                                <div class="col-5">
                                    <h3>@Model.Tokens</h3>

                                </div>
                            </div>
                            <!-- END stat-lg -->
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <!-- END col-3 -->
                <!-- BEGIN col-6 -->
                <div class="col-xl-6">
                    <!-- BEGIN card -->
                    <div class="card mb-3" style="min-height: 450px;">
                        <!-- BEGIN card-body -->
                        <div class="card-body" style="position: relative">
                            <!-- BEGIN title -->
                            <div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1"></span>
                                <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                            </div>
                            <!-- END title -->
                            <!-- BEGIN chart -->
                            <div class="ratio ratio-21x9 mb-3">
                                <canvas id="lineChart"></canvas>
                            </div>
                            <!-- END chart -->
                            <!-- BEGIN row -->
                            <!-- END row -->
                            @*<div class="progresi" style="margin-top: 67px;">
                                <span class="flex-grow-1">@Model.Raised.ToString("C2")</span>
                                <div class="bottom">
                                    <span class="one">$0.00</span>
                                    <span class="two">$20mil</span>
                                    <span class="three">$50mil</span>
                                    <span class="four">$100mil</span>
                                </div>
                                <input type="checkbox" id="water" />
                                <label for="water">
                                    <div id="fill" style="width: @raised%;">
                                    </div>
                                    <span style="left: calc(@Convert.ToInt32(raised)% - 8%)" id="progress-counter">@Convert.ToInt32(raised)%</span>
                                    <div class="segment one">
                                    </div>
                                    <div class="segment two">
                                    </div>
                                    <div class="segment three">
                                    </div>
                                    <div class="segment four">
                                    </div>

                                </label>
                                <div class="bottom">
                                    <span class="one">Private Sale</span>
                                    <span class="two">Pre Sale</span>
                                    <span class="three">Soft Cap</span>
                                    <span class="four">Hard Cap</span>
                                </div>
                                <span style="font-size: 15px">Progress</span>
                                <span style="font-size: 15px; float: right" id="progress">@Convert.ToInt32(raised)%</span>

                            </div>*@
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <div class="col-xl-6">
                    <!-- BEGIN card -->
                    <div class="card mb-3">
                        <!-- BEGIN card-body -->
                        <div class="card-body">
                            <!-- BEGIN title -->
                            <div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1">TRAFFIC ANALYTICS</span>
                                <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                            </div>
                            <!-- END title -->
                            <!-- BEGIN map -->
                            <div class="ratio ratio-21x9 mb-3">
                                <div id="world-map" class="jvectormap-without-padding"></div>
                            </div>
                            <!-- END map -->
                            <!-- BEGIN row -->
                            <div class="row gx-4">
                                <!-- BEGIN col-6 -->
                                <div class="col-lg-6 mb-3 mb-lg-0">
                                    <table class="w-100 small mb-0 text-truncate text-white text-opacity-60">
                                        <thead>
                                            <tr class="text-white text-opacity-75">
                                                <th class="w-50">COUNTRY</th>
                                                <th class="w-25 text-end">VISITS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>United States</td>
                                                <td class="text-end">10.41%</td>
                                            </tr>
                                            <tr>
                                                <td>Canada</td>
                                                <td class="text-end">9.85%</td>
                                            </tr>
                                            <tr>
                                                <td>Great Britain</td>
                                                <td class="text-end">8.14%</td>
                                            </tr>
                                            <tr>
                                                <td>Germany</td>
                                                <td class="text-end">9.72%</td>
                                            </tr>
                                            <tr>
                                                <td>Belgium</td>
                                                <td class="text-end">3.22%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END col-6 -->
                                <!-- BEGIN col-6 -->
                                <div class="col-lg-6">
                                    <!-- BEGIN card -->
                                    <table class="w-100 small mb-0 text-truncate text-white text-opacity-60">
                                        <tbody>
                                            <tr class="fw-bold text-theme">
                                                <td>Scandinavia (FIN, SWE, NOR)</td>
                                                <td class="text-end">16.8%</td>
                                            </tr>
                                            <tr>
                                                <td>Denmark</td>
                                                <td class="text-end">3.85%</td>
                                            </tr>
                                            <tr>
                                                <td>Austria</td>
                                                <td class="text-end">7.06%</td>
                                            </tr>
                                            <tr>
                                                <td>Switzerland</td>
                                                <td class="text-end">6.21%</td>
                                            </tr>
                                            <tr>
                                                <td>France</td>
                                                <td class="text-end">2.89%</td>
                                            </tr>
                                            <tr>
                                                <td>Other...</td>
                                                <td class="text-end">21.85%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- END card -->
                                </div>
                                <!-- END col-6 -->
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <!--<div class="col-xl-6">-->
                    <!-- BEGIN card -->
                    <!--<div class="card mb-3">-->
                        <!-- BEGIN card-body -->
                        <!--<div class="card-body">-->
                            <!-- BEGIN title -->
                            <!--<div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1">TOP PRODUCTS</span>
                                <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                            </div>-->
                            <!-- END title -->
                            <!-- BEGIN table -->
                            <!--<div class="table-responsive">
                                <table class="w-100 mb-0 small align-middle text-nowrap">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex">
                                                    <div class="position-relative mb-2">
                                                        <div class="bg-center bg-cover bg-no-repeat w-80px h-60px" style="background-image: url(../../assets/admin/img/dashboard/product-1.jpeg);">
                                                        </div>
                                                        <div class="position-absolute top-0 start-0">
                                                            <span class="badge bg-theme text-theme-900 rounded-0 d-flex align-items-center justify-content-center w-20px h-20px">1</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-1 ps-3">
                                                        <div class="mb-1"><small class="fs-9px fw-500 lh-1 d-inline-block rounded-0 badge bg-white bg-opacity-25 text-white text-opacity-75 pt-5px">SKU90400</small></div>
                                                        <div class="fw-500 text-white">Huawei Smart Watch</div>
                                                        $399.00
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <table class="mb-2">
                                                    <tr>
                                                        <td class="pe-3">QTY:</td>
                                                        <td class="text-white text-opacity-75 fw-500">129</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3">REVENUE:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$51,471</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3 text-nowrap">PROFIT:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$15,441</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td><a href="#" class="text-decoration-none text-white"><i class="bi bi-search"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex mb-2 align-items-center">
                                                    <div class="position-relative">
                                                        <div class="bg-center bg-cover bg-no-repeat w-80px h-60px" style="background-image: url(../../assets/admin/img/dashboard/product-2.jpeg);">
                                                        </div>
                                                        <div class="position-absolute top-0 start-0">
                                                            <span class="badge bg-theme text-theme-900 rounded-0 d-flex align-items-center justify-content-center w-20px h-20px">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-1 ps-3">
                                                        <div class="mb-1"><small class="fs-9px fw-500 lh-1 d-inline-block rounded-0 badge bg-white bg-opacity-25 text-white text-opacity-75 pt-5px">SKU85999</small></div>
                                                        <div class="text-white fw-500">Nike Shoes Black Version</div>
                                                        $99.00
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <table class="mb-2">
                                                    <tr>
                                                        <td class="pe-3">QTY:</td>
                                                        <td class="text-white text-opacity-75 fw-500">108</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3">REVENUE:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$10,692</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3 text-nowrap">PROFIT:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$5,346</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td><a href="#" class="text-decoration-none text-white"><i class="bi bi-search"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex mb-2 align-items-center">
                                                    <div class="position-relative">
                                                        <div class="bg-center bg-cover bg-no-repeat w-80px h-60px" style="background-image: url(../../assets/admin/img/dashboard/product-3.jpeg);">
                                                        </div>
                                                        <div class="position-absolute top-0 start-0">
                                                            <span class="badge bg-theme text-theme-900 rounded-0 d-flex align-items-center justify-content-center w-20px h-20px">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-1 ps-3">
                                                        <div class="mb-1"><small class="fs-9px fw-500 lh-1 d-inline-block rounded-0 badge bg-white bg-opacity-25 text-white text-opacity-75 pt-5px">SKU20400</small></div>
                                                        <div class="text-white fw-500">White Sony PS4</div>
                                                        $599
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <table class="mb-2">
                                                    <tr>
                                                        <td class="pe-3">QTY:</td>
                                                        <td class="text-white text-opacity-75 fw-500">72</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3">REVENUE:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$43,128</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3 text-nowrap">PROFIT:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$4,312</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td><a href="#" class="text-decoration-none text-white"><i class="bi bi-search"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex mb-2 align-items-center">
                                                    <div class="position-relative">
                                                        <div class="bg-center bg-cover bg-no-repeat w-80px h-60px" style="background-image: url(../../assets/admin/img/dashboard/product-4.jpeg);">
                                                        </div>
                                                        <div class="position-absolute top-0 start-0">
                                                            <span class="badge bg-black bg-opacity-50 rounded-0 d-flex align-items-center justify-content-center w-20px h-20px">4</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-1 ps-3">
                                                        <div class="mb-1"><small class="fs-9px fw-500 lh-1 d-inline-block rounded-0 badge bg-white bg-opacity-25 text-white text-opacity-75 pt-5px">SKU19299</small></div>
                                                        <div class="text-white fw-500">Apple Watch Series 5</div>
                                                        $1,099
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <table class="mb-2">
                                                    <tr>
                                                        <td class="pe-3">QTY:</td>
                                                        <td class="text-white text-opacity-75 fw-500">53</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3">REVENUE:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$58,247</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3 text-nowrap">PROFIT:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$2,912</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td><a href="#" class="text-decoration-none text-white"><i class="bi bi-search"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="position-relative">
                                                        <div class="bg-center bg-cover bg-no-repeat w-80px h-60px" style="background-image: url(../../assets/admin/img/dashboard/product-5.jpeg);">
                                                        </div>
                                                        <div class="position-absolute top-0 start-0">
                                                            <span class="badge bg-black bg-opacity-50 rounded-0 d-flex align-items-center justify-content-center w-20px h-20px">5</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-1 ps-3">
                                                        <div class="mb-1"><small class="fs-9px fw-500 lh-1 d-inline-block rounded-0 badge bg-white bg-opacity-25 text-white text-opacity-75 pt-5px">SKU19299</small></div>
                                                        <div class="text-white fw-500">Black Nikon DSLR</div>
                                                        1,899
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td class="pe-3">QTY:</td>
                                                        <td class="text-white text-opacity-75 fw-500">50</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3">REVENUE:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$90,950</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pe-3 text-nowrap">PROFIT:</td>
                                                        <td class="text-white text-opacity-75 fw-500">$2,848</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td><a href="#" class="text-decoration-none text-white"><i class="bi bi-search"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>-->
                            <!-- END table -->
                        <!--</div>-->
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <!--<div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>-->
                        <!-- END card-arrow -->
                    <!--</div>-->
                    <!-- END card -->
                <!--</div>-->
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <!--<div class="col-xl-6">-->
                    <!-- BEGIN card -->
                    <!--<div class="card mb-3">-->
                        <!-- BEGIN card-body -->
                        <!--<div class="card-body">-->
                            <!-- BEGIN title -->
                            <!--<div class="d-flex fw-bold small mb-3">
                                <span class="flex-grow-1">@Model.Raised.ToString("C2")</span>
                                <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                            </div>-->
                            <!-- END title -->
                            <!-- BEGIN table -->
                            <!--<div class="table-responsive" style="display: flex; width: 100%; height: 348px;">
                                <div id="container">
                                    <input type="checkbox" id="water" />
                                    <label for="water">
                                        <div id="fill" style="width: @raised%;">

                                        </div>
                                        <span style="left: calc(@Convert.ToInt32(raised)% - 8%)" id="progress-counter">@Convert.ToInt32(raised)%</span>
                                    </label>
                                    <span>Progress</span>
                                    <span style="font-size: 17px" id="progress">@Convert.ToInt32(raised)%</span>

                                </div>
                            </div>-->
                            <!-- END table -->
                        <!--</div>-->
                        <!-- END card-body -->
                        <!-- BEGIN card-arrow -->
                        <!--<div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>-->
                        <!-- END card-arrow -->
                    <!--</div>-->
                    <!-- END card -->
                <!--</div>-->
                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END #content -->
        <!-- BEGIN btn-scroll-top -->
        <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!-- END btn-scroll-top -->
        <!-- BEGIN theme-panel -->
        <!-- END theme-panel -->
    </div>
    <!-- END #app -->
    <!-- ================== BEGIN core-js ================== -->
    <script src="~/assets/admin/js/vendor.min.js"></script>

    <script src="~/assets/admin/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->
    <!-- ================== BEGIN page-js ================== -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/assets/admin/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
    <script src="~/assets/admin/plugins/jvectormap-content/world-mill.js"></script>
    <script src="~/assets/admin/plugins/apexcharts/dist/apexcharts.js"></script>
    <script src="~/assets/admin/js/demo/dashboard.demo.js"></script>
    <!-- ================== END page-js ================== -->
    <!--main js file end-->
    <style>
        .tb_button {
            padding: 1px;
            cursor: pointer;
            border-right: 1px solid #8b8b8b;
            border-left: 1px solid #FFF;
            border-bottom: 1px solid #fff;
        }

        .layout_header {
            display: none !important;
        }

        .tb_button.hover {
            border: 2px outset #def;
            background-color: #f8f8f8 !important;
        }

        .ws_toolbar {
            z-index: 100000
        }

            .ws_toolbar .ws_tb_btn {
                cursor: pointer;
                border: 1px solid #555;
                padding: 3px
            }

        .tb_highlight {
            background-color: yellow
        }

        .tb_hide {
            visibility: hidden
        }

        .ws_toolbar img {
            padding: 2px;
            margin: 0px
        }
    </style>
    @section Scripts {
        <script>
            var milion =@mil;

        $("#btc-base-amount").on("keyup", function () {
            var inputvalue = $(this).val()
            values = inputvalue.replace('$', '').replace(',', '').replace('.', '');

            //values = values * 12;

            //TODO Raised from http://oilbeam-ico-ico.com/dashboard/list/ ...
            //var milion = 14;

            if (milion < 15)
                values = values * 10;
            else if (milion > 15 && milion < 49)
                values = values * 4;
            else
                values = values * 2;


           // if (milion < 5)
           //     values = values * 13;
           //else if (milion < 40)
           //     values = values * 7;
           // else
           //     values = values * 3.5;
            //if (values < 10000)
            //    values = values * 3.9;
            //else if (values < 30000)
            //    values = values * 5.5;
            //else if (values < 60000)
            //    values = values * 7.3;
            //else if (values < 100000)
            //    values = values * 9.6;
            //else if (values < 250000)
            //    values = values * 12.7;
            //else
            //    values = values * 19;

            $("#token-base-amount").val(values);

        })

            document.addEventListener("DOMContentLoaded", function (event) {
                $("#backbutton").hide();
            });
        </script>
    }

    <script>
        $("#close-modal").on('click', function () {

            $("#myModal").hide();

        })

        $("#modalShow").on('click', function () {

            $("#myModal").show();

        })
    </script>
</body>

</html>

