@model WebCoiner.Models.Dashboard


@{
    ViewBag.Title = "Dashboard";
    double raised = ((double)Model.Raised / 110000000) * 100;
    int totalRaised = Convert.ToInt32(Model.Raised);
    var mil = Model.Raised / 1000000;
    string controllerName = Request.CurrentExecutionFilePath;
}

@{
    Layout = "";
}



<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Cryptomio - Bootstrap 4 Admin Template for Cryptocurrency Business</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="coin,bitcoin,wallet,ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/admin/css/bootstrap.min.css">
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="~/assets/admin/css/jquery-ui.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/assets/admin/css/font-awesome.min.css">
    <!-- Metismenu CSS -->
    <link rel="stylesheet" href="~/assets/admin/dist/metismenu/metisMenu.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/admin/css/animate.css">
    <!-- Main StyleSheet CSS -->
    <link rel="stylesheet" href="~/assets/admin/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/admin/css/responsive.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/assets/admin/img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div id="preloader"></div>

    <!-- Header Area -->
    <header class="cryptodash-header cdh-light">
        <nav class="navbar navbar-expand-lg cryptodash-nav">
            <a id="sideNav-toggle" href="#"><span id="main_icon" class="fa fa-bars"></span></a>
            <a class="navbar-brand" href="@Url.Action("Dashboard", "UserDashboard")">
                <div class="logo">
                    <img src="~/assets/admin/img/common/logo.png" alt="">
                </div>
            </a>
            <div class="collapse navbar-collapse right-nav" id="navbarTogglerDemo02">
            </div>

        </nav>
    </header>
    <!-- /Header Area -->
    <!-- Dashboard Full Area -->
    <div class="modal fade show" id="myModal" style="display: none;" aria-modal="true" background-color:
         rgba(152, 152, 152, 0.8);>
        <div class="modal-dialog" style=" width: 90%; max-width: 1200px; min-height: 100%;">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <section class="lis-bg-light">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 text-center">
                                    <div class="heading pb-4">
                                        <h2>Choose Your Package</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                     style="visibility: visible; animation-name: fadeInUp;">
                                    <div class="price-table">
                                        <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                                            <h5 class="text-uppercase lis-latter-spacing-2">Basic</h5>
                                            <h1 class="display-4 lis-font-weight-500">1<small>%</small></h1>
                                            <p class="mb-0">Basic Membership</p>
                                        </div>
                                        <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                            <ul class="list-unstyled lis-line-height-3">
                                                <li>Bitreal tokens in portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                     style="visibility: visible; animation-name: fadeInUp;">
                                    <div class="price-table">
                                        <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                             style="background-color:#e6e4e2;">
                                            <h5 class="text-uppercase lis-latter-spacing-2">Silver</h5>
                                            <h1 class="display-4 lis-font-weight-500">
                                                1<small>%</small>-
                                                5<small>%</small>
                                            </h1>
                                            <p class="mb-0">Silver Membership</p>
                                        </div>
                                        <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                            <ul class="list-unstyled lis-line-height-3">
                                                <li>Bitreal tokens in portfolio</li>
                                                <li>Minimum portfolio: $100,000</li>
                                            </ul>
                                            <a href="/userdashboard/create/" style="background-color: #28c189;"
                                               class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                               data-abc="true">Top Up Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                     style="visibility: visible; animation-name: fadeInUp;">
                                    <div class="price-table">
                                        <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                             style="background-color:#F3AF4C;">
                                            <h5 class="text-uppercase lis-latter-spacing-2">Gold</h5>
                                            <h1 class="display-4 lis-font-weight-500">
                                                6<small>%</small> -
                                                12<small>%</small>
                                            </h1>
                                            <p class="mb-0">Gold Membership</p>
                                        </div>
                                        <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                            <ul class="list-unstyled lis-line-height-3">
                                                <li>Bitreal tokens in portfolio</li>
                                                <li>Minimum portfolio: $250,000</li>
                                            </ul>
                                            <a href="/userdashboard/create/" style="background-color: #28c189;"
                                               class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                               data-abc="true">Top Up Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                     style="visibility: visible; animation-name: fadeInUp;">
                                    <div class="price-table">
                                        <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                             style="        background-color:#a0b2c6;">

                                            <h5 class="text-uppercase lis-latter-spacing-2">Platinum</h5>
                                            <h1 class="display-4 lis-font-weight-500">
                                                12<small>%</small>-20<small>%</small>
                                            </h1>
                                            <p class="mb-0">Platinum Membership</p>
                                        </div>
                                        <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                            <ul class="list-unstyled lis-line-height-3">


                                                <li>Bitreal tokens in portfolio</li>
                                                <li>Minimum portfolio: $500,000</li>

                                            </ul>
                                            <a href="/userdashboard/create/" style="background-color: #28c189;"
                                               class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                               data-abc="true">Top Up Now</a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-modal"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="cryptodash-full-wrapper">
        <div class="crypto-dash-sidenav">
            <div id="sideNavWrapper" class="active">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <nav class="sidebar-nav">
                        <ul class="metismenu" id="menu3">
                            @if (User.IsInRole("administrator"))
                            {
                                <li class="mm-active">
                                    <a href="~/dashboard/list/">
                                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                                        <span class="msm-text">Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/manage/index/">
                                        <i class="fa fa-google-wallet" aria-hidden="true"></i>
                                        <span class="msm-text">Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="~/users/list">
                                        <i class="fa fa-exchange" aria-hidden="true"></i>
                                        <span class="msm-text">Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/transactions/list">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span class="msm-text">Transaction</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/promocodes/list">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        <span class="msm-text">Promocodes</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="~/userdashboard/create/">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                        <span class="msm-text">Buy Tokens</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="" id="modalShow">
                                        <i class="fa fa-cubes" aria-hidden="true"></i>
                                        <span class="msm-text">Packages</span>
                                    </a>
                                </li>
                            }
                            else if (Request.IsAuthenticated)
                            {
                                <li class="mm-active">
                                    <a href="~/userdashboard/create/">
                                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                                        <span class="msm-text">Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/userdashboard/list/">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                        <span class="msm-text">Buy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/users/list">
                                        <i class="fa fa-exchange" aria-hidden="true"></i>
                                        <span class="msm-text">Transaction</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/userdashboard/dashboard/">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        <span class="msm-text">Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" id="modalShow">
                                        <i class="fa fa-cubes" aria-hidden="true"></i>
                                        <span class="msm-text">Packages</span>
                                    </a>
                                </li>
                            }
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            <span class="msm-text">Sign Out</span>
                                        </a>
                                    }
                                }
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /Sidebar -->
                <!-- Page content -->
                <div id="page-content-wrapper" class="dashboard-content">
                    <!-- Keep all page content within the page-content inset div! -->
                    <div class="page-content inset">
                        <div class="crypto-container">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="crypto-overview-wrapper">
                                        <h2 class="crypto-stitle">Overview</h2>
                                        <div class="crypto-overview">
                                            <div class="crypto-current-balance">
                                                <span>Your Current Balance</span>
                                                <h3 class="ccb">$@Model.CurrentBalance.ToString("#,##0")</h3>
                                                <a href="~/userdashboard/create/" class="btn-style-a">Buy More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div>
                                        @Model.FirstName
                                          @Model.FirstName
                                    </div>*@

                                <div class="col-xl-8 align-items-end d-flex">
                                    <div class="crypto-wallet">

                                        <div class="crypto-wallet-tab ">
                                            <div class="tab-content py-3 px-3 px-sm-0 cw-tab-content" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-bitcoin" role="tabpanel" aria-labelledby="nav-bitcoin-tab">
                                                    <div class="crypto-single-wallet">
                                                        <ul class="market-info">
                                                            <li>
                                                                <span>Investment Amount</span>
                                                                <h4>$@Model.InvestmentAmount.ToString("#,##0")</h4>
                                                            </li>
                                                            <li>
                                                                <span>Profit</span>
                                                                <h4>$@((Model.CurrentBalance - Model.InvestmentAmount).ToString("#,##0"))</h4>
                                                            </li>
                                                            <li>
                                                                <span>Token Amount</span>
                                                                <h4>@Model.Tokens</h4>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-ethereum" role="tabpanel" aria-labelledby="nav-ethereum-tab">
                                                    <div class="crypto-single-wallet">
                                                        <h3>$6,622.46<span>USD</span></h3>
                                                        <h5>2.00000000 ETH</h5>
                                                        <ul class="market-info">
                                                            <li>
                                                                <span>Market Cap ( Rank #1)</span>
                                                                <h4>$118,811,478,387</h4>
                                                                <span>17,666,900 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Vol 24h</span>
                                                                <h4>$19,470,092</h4>
                                                                <span>2,615,578 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Circulating Supply</span>
                                                                <h4>17,686,900</h4>
                                                                <span>...</span>
                                                            </li>
                                                            <li>
                                                                <span>Max Supply</span>
                                                                <h4>21,080,000</h4>
                                                                <span>...</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-litecoin" role="tabpanel" aria-labelledby="nav-litecoin-tab">
                                                    <div class="crypto-single-wallet">
                                                        <h3>$6,633.46<span>USD</span></h3>
                                                        <h5>3.00000000 LTC</h5>
                                                        <ul class="market-info">
                                                            <li>
                                                                <span>Market Cap ( Rank #1)</span>
                                                                <h4>$125,815,478,33</h4>
                                                                <span>17,346,900 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Vol 24h</span>
                                                                <h4>$19,475,092</h4>
                                                                <span>5,615,548 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Circulating Supply</span>
                                                                <h4>17,556,900</h4>
                                                                <span>...</span>
                                                            </li>
                                                            <li>
                                                                <span>Max Supply</span>
                                                                <h4>21,440,000</h4>
                                                                <span>...</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-eos" role="tabpanel" aria-labelledby="nav-eos-tab">
                                                    <div class="crypto-single-wallet">
                                                        <h3>$6,563.46<span>USD</span></h3>
                                                        <h5>6.003453450 EOS</h5>
                                                        <ul class="market-info">
                                                            <li>
                                                                <span>Market Cap ( Rank #1)</span>
                                                                <h4>$125,818,478,37</h4>
                                                                <span>17,346,900 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Vol 24h</span>
                                                                <h4>$19,475,082,52</h4>
                                                                <span>5,685,548 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Circulating Supply</span>
                                                                <h4>17,556,980</h4>
                                                                <span>...</span>
                                                            </li>
                                                            <li>
                                                                <span>Max Supply</span>
                                                                <h4>21,480,000</h4>
                                                                <span>...</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-ripple" role="tabpanel" aria-labelledby="nav-ripple-tab">
                                                    <div class="crypto-single-wallet">
                                                        <h3>$6,55.46<span>USD</span></h3>
                                                        <h5>6.005553450 RP</h5>
                                                        <ul class="market-info">
                                                            <li>
                                                                <span>Market Cap ( Rank #1)</span>
                                                                <h4>$125,848,478,37</h4>
                                                                <span>17,346,900 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Vol 24h</span>
                                                                <h4>$19,474,082,52</h4>
                                                                <span>5,685,548 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Circulating Supply</span>
                                                                <h4>17,546,980</h4>
                                                                <span>...</span>
                                                            </li>
                                                            <li>
                                                                <span>Max Supply</span>
                                                                <h4>21,480,040</h4>
                                                                <span>...</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-binance" role="tabpanel" aria-labelledby="nav-binance-tab">
                                                    <div class="crypto-single-wallet">
                                                        <h3>$6,563.46<span>USD</span></h3>
                                                        <h5>6.003453450 EOS</h5>
                                                        <ul class="market-info">
                                                            <li>
                                                                <span>Market Cap ( Rank #1)</span>
                                                                <h4>$125,818,478,37</h4>
                                                                <span>17,346,900 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Vol 24h</span>
                                                                <h4>$19,475,082,52</h4>
                                                                <span>5,685,548 BTC</span>
                                                            </li>
                                                            <li>
                                                                <span>Circulating Supply</span>
                                                                <h4>17,556,980</h4>
                                                                <span>...</span>
                                                            </li>
                                                            <li>
                                                                <span>Max Supply</span>
                                                                <h4>21,480,000</h4>
                                                                <span>...</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="token-distribution-wrapper">
                                        <h2 class="crypto-stitle">Token Distribution Graph</h2>
                                        <div class="distribution-graph">
                                            <!-- <canvas id="chart"></canvas> -->
                                            <div class="chart-container">
                                                <canvas id="tokenBuyAnalyticsChart"
                                                        data-tbadata="0, 0.01, 0.02, 0.06, 0.12"
                                                        data-tbamonth=" ,Private Sale   $0.01', 'Presale $0.02', 'Softcap $0.06, 'Hardcap $0.">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="transaction-status">
                                        <h2 class="crypto-stitle">Token Distribution Chart</h2>
                                        <div class="transaction-status-pie">
                                            <canvas id="pie1" data-p1value="60, 8, 15, 4, 7, 6"
                                                    data-p1label="Token sale Program, Reserve Fund, Team and Founders, Board Advisors, Ecosystem Development, Marketing and Bounty"
                                                    data-p1color="#372CC8, #FFA726, #E91E63, #2ACD72, #e83e8c, #20c997" width="420" height="300">

                                            </canvas>
                                            <div class="label">
                                                <span class="label1">
                                                    60
                                                </span>
                                                <span class="label2">
                                                    8
                                                </span>
                                                <span class="label3">
                                                    15
                                                </span>
                                                <span class="label4">
                                                    4
                                                </span>
                                                <span class="label5">
                                                    7
                                                </span>
                                                <span class="label6">
                                                    6
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-xl-4">
                                    <div class="tokenCalculation-wrapper">
                                        <h2 class="crypto-stitle">Token Calculation</h2>
                                        <div class="token-calculator">
                                            <form class="tc-form">
                                                <h4>Enter your amount</h4>
                                                <div class="tc-input">
                                                    <input type="text" placeholder="Ex. 1.00000">
                                                    <div class="currencySymbol" id="currencySymbol">
                                                        BBC
                                                    </div>
                                                </div>
                                                <h3>= <span class="cost">0</span> <span class="currencyName">USD</span></h3>
                                                <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>The Amount is changeable anytime</p>
                                                <a href="~/userdashboard/list/" class="btn-style-b">Buy Tokens Now</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                   

                                </div>
                            </div>*@

                        </div>

                    </div>
                </div>
                <!-- /Page content -->
            </div>
        </div>
    </div>
    <!-- Dashboard Full Area -->
    <!-- Scripts -->
    <!-- jQuery Plugin -->
    <script src="~/assets/admin/js/jquery-3.2.0.min.js"></script>
    <script src="~/assets/admin/js/jquery-ui.js"></script>
    <!-- Owl Carousel Plugin -->
    <script src="~/assets/admin/js/owl.carousel.min.js"></script>
    <!-- Main Counterup Plugin-->
    <script src="~/assets/admin/js/jquery.counterup.min.js"></script>
    <script src="~/assets/admin/js/countdown.js"></script>

    <script src="~/assets/admin/js/jquery.scrollUp.js"></script>
    <script src="~/assets/admin/js/jquery.waypoints.min.js"></script>
    <!-- Chart JS Plugin-->
    <script src="~/assets/admin/js/Chart.min.js"></script>
    <script src="~/assets/admin/js/ChartUtils.js"></script>
    <!-- Metismenu Plugin-->
    <script src="~/assets/admin/dist/metismenu/metisMenu.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/admin/js/bootstrap.min.js"></script>
    <!-- Main Script -->
    <script src="~/assets/admin/js/graph-chart-activation.js"></script>
    <script src="~/assets/admin/js/theme.js"></script>

    <!-- END CORE TEMPLATE JS - END -->
    @section Scripts {
        <script>
            var milion =@mil;

            document.getElementById("packages-area").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "flex";
            });

            document.getElementById("close-modal").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "none";
            });

            $(".footer-bar").hide();

            document.addEventListener("DOMContentLoaded", function (event) {
                $("#backbutton").hide();
            });
        </script>
    }

    <script>
        $("#close-modal").on('click', function () {
            $("#myModal").hide();
        })
        $("#modalShow").on('click', function (e) {
            e.preventDefault()
            $("#myModal").show();
        })

        $("#btc-base-amount").keyup(function () {
            $("#token-base-amount").val(($(this).val() * 50).toFixed(2));
        });
        $("#btc-base-amount1").keyup(function () {
            $("#token-base-amount1").val(($(this).val() * 6).toFixed(2));
        });

        $('.tc-input input').on('input', e => {
            const coinAmount = e.target.value;
            $('.cost').text(coinAmount * 5)
        });


    </script>
</body>

</html>

<style>
    .token-bar {
        margin-top: 5px;
        padding: 0 38px;
        max-width: 570px;
    }

        .token-bar .top {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

            .token-bar .top p {
                position: absolute;
            }

                .token-bar .top p:first-child {
                    left: 18%;
                }

                .token-bar .top p:nth-child(2) {
                    left: 45%;
                }

                .token-bar .top p:nth-child(3) {
                    left: 86%;
                }

                .token-bar .top p:last-child {
                    left: 97%;
                }

            .token-bar .top h6 {
                font-size: 14px;
                font-weight: 400;
            }

                .token-bar .top h6 span {
                    color: var(--primary-color);
                    font-weight: 800;
                }

        .token-bar .main .progress-token {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(12px);
            border-radius: 64px;
            padding: 4px;
            display: flex;
            border: 1px solid;
            background-color: #00000017;
        }

            .token-bar .main .progress-token p {
                background: linear-gradient(294.72deg, #6793a1 9.05%, #28874f 79.28%);
                border-radius: 64px;
                padding: 4px 17px;
                text-align: right;
                margin-bottom: 0;
                color: #000;
                font-weight: 700;
            }

        .token-bar .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            position: relative;
        }

            .token-bar .bottom p {
                position: absolute;
            }

                .token-bar .bottom p:first-child {
                    left: 18%;
                }

                .token-bar .bottom p:nth-child(2) {
                    left: 45%;
                }

                .token-bar .bottom p:nth-child(3) {
                    left: 86%;
                }

                .token-bar .bottom p:last-child {
                    left: 97%;
                }




                .token-bar .bottom p::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    left: 10%;
                    top: -54px;
                    width: 1px;
                    height: 48px;
                    background: #fff;
                }
</style>


