@{
    @model WebCoiner.GlobalDashboardList
    //decimal currentpercentage = 23;
    Console.WriteLine("STUFF");
    double txRaised = (double)Model.Raised;
    double raised = ((double)Model.Raised / 120000000) * 100;
    long num = 0;
    long.TryParse(txRaised.ToString(), out num);
    String finalRaised = num.ToString("N0");

    double percentage = ((double)Model.Raised / 120000000) * 100;
    //155 = 10M
    double finalRaisedDo = Convert.ToDouble(finalRaised);
    Console.WriteLine("RAISED IS " + finalRaisedDo);
    if (finalRaisedDo > 0 && finalRaisedDo <= 500000)
    {
        percentage = 5;
    }
    else if (finalRaisedDo > 500000 && finalRaisedDo <= 1000000)
    {
        percentage = 10;
    }
    else if (finalRaisedDo > 1000000 && finalRaisedDo <= 1500000)
    {
        percentage = 15;
    }
    else if (finalRaisedDo > 1500000 && finalRaisedDo <= 2000000)
    {
        percentage = 20;
    }
    else if (finalRaisedDo > 2000000 && finalRaisedDo <= 2500000)
    {
        percentage = 25;
    }
    else if (finalRaisedDo > 2500000 && finalRaisedDo <= 3000000)
    {
        percentage = 30;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 35;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 40;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 45;
    }
    else if (finalRaisedDo > 3500000 && finalRaisedDo <= 4000000)
    {
        percentage = 50;
    }
    else if (finalRaisedDo > 4000000 && finalRaisedDo <= 5000000)
    {
        percentage = 80;
    }
    else if (finalRaisedDo > 5000000 && finalRaisedDo <= 6000000)
    {
        percentage = 85;
    }
    else if (finalRaisedDo > 6000000 && finalRaisedDo <= 7000000)
    {
        percentage = 100;
    }
    else if (finalRaisedDo > 7000000 && finalRaisedDo <= 8000000)
    {
        percentage = 120;
    }
    else if (finalRaisedDo > 8000000 && finalRaisedDo <= 9000000)
    {
        percentage = 140;
    }
    else if (finalRaisedDo > 9000000 && finalRaisedDo <= 10000000)
    {
        percentage = 155;
    }
    else if (finalRaisedDo > 10000000 && finalRaisedDo <= 15000000)
    {
        percentage = 160;
    }
    else if (finalRaisedDo > 15000000 && finalRaisedDo <= 20000000)
    {
        percentage = 165;
    }
    else if (finalRaisedDo > 20000000 && finalRaisedDo <= 25000000)
    {
        percentage = 170;
    }
    else if (finalRaisedDo > 25000000 && finalRaisedDo <= 30000000)
    {
        percentage = 175;
    }
    else if (finalRaisedDo > 30000000 && finalRaisedDo <= 35000000)
    {
        percentage = 195;
    }
    else if (finalRaisedDo > 35000000 && finalRaisedDo < 40000000)
    {
        percentage = 200;
    }
    else if (finalRaisedDo >= 4000000 && finalRaisedDo <= 45000000)
    {
        percentage = 230;
    }
    else if (finalRaisedDo > 45000000 && finalRaisedDo <= 50000000)
    {
        percentage = 10;
    }
    else if (finalRaisedDo > 50000000 && finalRaisedDo <= 55000000)
    {
        percentage = 250;
    }
    else if (finalRaisedDo > 55000000 && finalRaisedDo <= 60000000)
    {
        percentage = 270;
    }
    else if (finalRaisedDo > 60000000 && finalRaisedDo <= 65000000)
    {
        percentage = 280;
    }
    else if (finalRaisedDo > 65000000 && finalRaisedDo <= 70000000)
    {
        percentage = 300;
    }
    else if (finalRaisedDo > 70000000 && finalRaisedDo <= 75000000)
    {
        percentage = 320;
    }
    else if (finalRaisedDo > 75000000 && finalRaisedDo < 80000000)
    {
        percentage = 325;
    }
    else if (finalRaisedDo >= 80000000 && finalRaisedDo <= 85000000)
    {
        percentage = 350;
    }
    @* else if (finalRaisedDo > 85000000 && finalRaisedDo <= 95000000)
        {
            percentage = 350;
        }*@
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>5G Prime Pro</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Blockchain scaling and interoperability">
    <meta name="author" content="5G Prime Pror">
    <meta name="generator" content="Hugo 0.57.2" />
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/assets/home/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/assets/home/bootstrap.min.css">
    <!-- Google Font -->
    <link href="~/assets/home/css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/assets/home/font-awesome.min.css">
    <!-- ionicons CSS -->
    <link rel="stylesheet" href="~/assets/home/ionicons.min.css">
    <!-- cryptocoins CSS -->
    <link rel="stylesheet" href="~/assets/home/cryptocoins.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="~/assets/home/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/home/owl.theme.default.min.css">
    @*<link rel="stylesheet" href="~/Content/counter.css" />*@
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/assets/home/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/home/spop.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/home/font-awesome.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/home/style.css">
    <link rel="stylesheet" href="~/assets/home/fonts.css">
    <link rel="stylesheet" href="~/assets/home/responsive.css">
    <link rel="stylesheet" href="~/assets/home/roadmap.css">
    <!-- Color CSS -->
    <link id="layoutstyle" rel="stylesheet" href="~/assets/home/theme.css">
    <link rel="shortcut icon" href="~/assets/admin/source/5glogo.png" type="image/x-icon">
    <!-- SITE TITLE -->
    <title>Cryptocash – ICO, Cryptocurrency Website & ICO Landing Page HTML + Dashboard Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/assets/css/style/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/assets/css/style/font-awesome.min.css">
    <!-- ionicons CSS -->
    <link rel="stylesheet" href="~/assets/css/style/ionicons.min.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="~/assets/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/assets/css/style/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/style/spop.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style/style.css">
    <link rel="stylesheet" href="~/assets/css/style/responsive.css">
    <!-- Color CSS -->
    <link id="layoutstyle" rel="stylesheet" href="~/assets/color/theme.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="~/assets/home/analytics.js"></script>
    <script async="" src=" ~/assets/home/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
    </script>


    <style>
        .blackend {
            color: #000000;
            font-weight: bold;
        }

        .countdown {
            top: 189px;
            margin: 0 auto;
            z-index: 10;
            position: absolute;
        }

            .countdown .bloc-time {
                float: left;
                margin-right: 15px;
                text-align: center;
            }

                .countdown .bloc-time:last-child {
                    margin-right: 0;
                }

            .countdown .count-title {
                display: block;
                margin-bottom: 15px;
                font: normal 0.94em "Lato";
                color: #f7f7f7;
                text-transform: uppercase;
            }

            .countdown .figure {
                position: relative;
                float: left;
                height: 66px;
                width: 55px;
                margin-right: 2px;
                background-color: #fff;
                border-radius: 8px;
                -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
                -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
                box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
            }

                .countdown .figure:last-child {
                    margin-right: 0;
                }

                .countdown .figure > span {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    font: normal 4em/65px "Lato";
                    font-weight: 700;
                    color: #bd2983;
                }

                .countdown .figure .top:after,
                .countdown .figure .bottom-back:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }

                .countdown .figure .top {
                    z-index: 3;
                    background-color: #f7f7f7;
                    transform-origin: 50% 100%;
                    -webkit-transform-origin: 50% 100%;
                    -moz-border-radius-topleft: 10px;
                    -webkit-border-top-left-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-border-radius-topright: 10px;
                    -webkit-border-top-right-radius: 10px;
                    border-top-right-radius: 10px;
                    -moz-transform: perspective(200px);
                    -ms-transform: perspective(200px);
                    -webkit-transform: perspective(200px);
                    transform: perspective(200px);
                }

                .countdown .figure .bottom {
                    z-index: 1;
                }

                    .countdown .figure .bottom:before {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 50%;
                        background-color: rgba(0, 0, 0, 0.02);
                    }

                .countdown .figure .bottom-back {
                    z-index: 2;
                    top: 0;
                    height: 50%;
                    overflow: hidden;
                    background-color: #f7f7f7;
                    -moz-border-radius-topleft: 10px;
                    -webkit-border-top-left-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-border-radius-topright: 10px;
                    -webkit-border-top-right-radius: 10px;
                    border-top-right-radius: 10px;
                }

                    .countdown .figure .bottom-back span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }

                .countdown .figure .top,
                .countdown .figure .top-back {
                    height: 50%;
                    overflow: hidden;
                    -moz-backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }

                .countdown .figure .top-back {
                    z-index: 4;
                    bottom: 0;
                    background-color: #fff;
                    -webkit-transform-origin: 50% 0;
                    transform-origin: 50% 0;
                    -moz-transform: perspective(200px) rotateX(180deg);
                    -ms-transform: perspective(200px) rotateX(180deg);
                    -webkit-transform: perspective(200px) rotateX(180deg);
                    transform: perspective(200px) rotateX(180deg);
                    -moz-border-radius-bottomleft: 10px;
                    -webkit-border-bottom-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    -moz-border-radius-bottomright: 10px;
                    -webkit-border-bottom-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                    .countdown .figure .top-back span {
                        position: absolute;
                        top: -100%;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
    </style>
</head>
<script>
    @*if (location.protocol !== 'https:') {
        location.replace(`https:${location.href.substring(location.protocol.length)}`);
    }*@
</script>
<body class="v_cyan_blue loaded">
    <!-- START LOADER -->
    <div id="loader-wrapper">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!-- END LOADER -->
    <!-- START HEADER -->
    <header class="header_wrap fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand page-scroll animation" href="#home_section" data-animation="fadeInDown" data-animation-delay="1s">
                    <img class="logo_light" src="~/assets/images/New/logo.png" alt="logo" />
                    <img class="logo_dark" src="~/assets/images/New/logo_dark.png" alt="logo" />
                </a>
                <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s">
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="dropdown animation" data-animation="fadeInDown" data-animation-delay="1.1s">
                            <a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.2s"><a class="nav-link page-scroll nav_item" href="#about">About</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.3s"><a class="nav-link page-scroll nav_item" href="#why">Why</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.4s"><a class="nav-link page-scroll nav_item" href="#token">Token</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.5s"><a class="nav-link page-scroll nav_item" href="#roadmap">Road Map</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.7s"><a class="nav-link page-scroll nav_item" href="#faq">FAQ</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.8s"><a class="nav-link page-scroll nav_item" href="#contact">Contact</a></li>

                    </ul>
                    <ul class="navbar-nav nav_btn align-items-center">
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="2.1s"><a class="btn btn-white btn-radius nav_item" href="account/login">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- END HEADER -->
    <!-- START SECTION BANNER -->
    <section id="home_section" class="section_banner section_gradiant3">
        <div id="banner_bg_effect" class="banner_effect"></div>
        <div class="container">
            <div class="divider large_divider"></div>
            <div class="divider small_divider d-none d-lg-block"></div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12 col-sm-12 res_md_mt_50 res_sm_mt_20 pt-5 pt-lg-0 order-lg-first">
                    <div class="banner_text_s2 text_md_center">
                        <h1 class="animation text-white" data-animation="fadeInUp" data-animation-delay="1.1s"><strong>Bitcoin</strong> is an <strong>innovative</strong> payment <strong>network</strong> and a new kind of <strong>money.</strong></h1>
                        <p class="animation text-white" data-animation="fadeInUp" data-animation-delay="1.3s">The mining starts immediately after confirmed payment. First payouts within 24 hours. </p>
                        <div class="btn_group animation" data-animation="fadeInUp" data-animation-delay="1.4s">
                            <a href="#whitepaper" class="btn btn-default btn-radius page-scroll"><i class="fa fa-file-word-o"></i>Whitepaper</a>
                            <a href="#" class="btn btn-border-white btn-radius">Sign Up To Join <i class="ion-ios-arrow-thin-right"></i></a>
                        </div>
                        @*<div class="vertical_social">
                                <ul class="list_none d-flex d-lg-block">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-medium"></i></a></li>
                                    <li><a href="#"><i class="fa fa-bitcoin"></i></a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 pb-5 pb-lg-0 order-first">
                    <div class="banner_inner token_gradiant position-relative">
                        <div class="tk_countdown transparent_bg token_bg token_circle text-center animation" data-animation="fadeIn" data-animation-delay="1.1s">
                            <div class="banner_text tk_counter_inner">
                                <div class="tk_countdown_time p-0 transparent_bg box_shadow_none animation" data-animation="fadeInUp" data-animation-delay="1.2s" data-time="2022/02/06 00:00:00"></div>
                                <div class="progress animation" data-animation="fadeInUp" data-animation-delay="1.3s">
                                    <div class="progress-bar progress-bar-striped gradient_box" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width: @Convert.ToInt32(raised)%;">  @Convert.ToInt32(raised)% </div>
                                    <span class="progress_label bg-white" style="left: 20%"> <strong> 46,000 BCC </strong></span>
                                    <span class="progress_label bg-white" style="left: 45%"> <strong> 90,000 BCC </strong></span>
                                    <span class="progress_label bg-white" style="left: 70%"> <strong> 90,000 BCC </strong></span>
                                    <span class="progress_label bg-white" style="left: 90%"> <strong> 90,000 BCC </strong></span>
                                    <span class="progress_min_val">Sale Raised</span>
                                    <span class="progress_max_val">Soft-caps</span>
                                </div>
                                <a href="account/login" class="btn btn-default animation" data-animation="fadeInUp" data-animation-delay="0.9s">Buy Tokens <i class="ion-ios-arrow-thin-right"></i></a>
                                <ul class="icon_list list_none d-flex justify-content-center">
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1.5s"><i class="fa fa-cc-visa"></i></li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1.6s"><i class="fa fa-cc-mastercard"></i></li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1.7s"><i class="fa fa-bitcoin"></i></li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1.8s"><i class="fa fa-paypal"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider small_divider d-none d-lg-block"></div>
            <div class="divider large_divider d-none d-lg-block"></div>
        </div>
        <div class="banner_light_gradiant"></div>
    </section>
    <!-- END SECTION BANNER -->
    <!-- START SECTION ABOUT US -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-center res_md_mb_30 res_sm_mb_20">
                        <img class="animation" data-animation="zoomIn" data-animation-delay="0.2s" src="~/assets/images/New/about_img10.png" alt="aboutimg10" />
                        <div class="about_logo_icon">
                            <img src="~/assets/images/New/about_icon.png" alt="about_icon">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text_md_center">
                    <div class="title_cyan_dark">
                        <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">About The Cryptocash</h4>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Cryptocash is one of the most transformative technologies since the  invention of the Internet. Cryptocash stands firmly in support of financial freedom and the liberty that Bitcoin provides globally for anyone to voluntarily participate in a permissionless and decentralized network.</p>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="1s">Which empowers people to not be marginalized by governments and financial institutions.If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        <a href="https://www.youtube.com/watch?v=ZE2HxTmxfrI" class="video btn btn-default btn-radius">Let's Start <i class="ion-ios-arrow-thin-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION ABOUT US -->
    <!-- START SECTION WHY CHOOSE US -->
    <section id="why" class="bg_gray3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12">
                    <div class="title_cyan_dark text-center">
                        <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Why Choose Us?</h4>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit animid est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box_wrap radius_box bg-white text-center animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                        <img src="~/assets/images/New/wc_icon4.png" alt="wc_icon1" />
                        <h4>Fully Secured Data</h4>
                        <p>Cryptocash bitcoin ensures every block and transaction it accepts is a valid, increasing not only your security but also helping prevent miners and banks from taking control of Bitcoin.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box_wrap radius_box bg-white text-center animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                        <img src="~/assets/images/New/wc_icon5.png" alt="wc_icon2" />
                        <h4>A Better User Interface</h4>
                        <p>Bitcoin wallet has features most other wallets don't have. But if you don't need them, you can use several other wallets on top of Bitcoin without losing Bitcoin Core's security and privacy benefits.</p>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-12">
                    <div class="box_wrap radius_box bg-white text-center animation" data-animation="fadeInUp" data-animation-delay="1s">
                        <img src="~/assets/images/New/wc_icon6.png" alt="wc_icon3" />
                        <h4>Support The Network</h4>
                        <p>Bitcoin helps support other peers.This isn't as useful as helping to keep Bitcoin decentralized, but it's an easy way for broadband users to contribute to less well-connected users.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION WHY CHOOSE US -->
    <!-- START SECTION TOKEN SALE -->
    <section id="token" class="section_token section_gradiant3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12">
                    <div class="title_default_light text-center">
                        <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Token Structure</h4>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Join the industry leaders to discuss where the markets are heading. We accept token payments. </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="token_sale res_md_mt_20">
                        <div class="tk_countdown bg-white-tran text-center animation" data-animation="fadeIn" data-animation-delay="0.6s">
                            <div class="tk_counter_inner">
                                <div class="tk_countdown_time box_shadow_none transparent_bg animation" data-animation="fadeInUp" data-animation-delay="0.7s" data-time="2022/02/06 00:00:00"></div>

                                <div class="progress animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                    <div class="progress-bar progress-bar-striped gradient_box" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width: @Convert.ToInt32(raised)%;">  @Convert.ToInt32(raised)% </div>
                                    <span class="progress_label bg-white" style="left: 20%"> <strong> 46,000 BCC </strong></span>
                                    <span class="progress_label bg-white" style="left: 45%"> <strong> 90,000 BCC </strong></span>
                                    <span class="progress_label bg-white" style="left: 70%"> <strong> 90,000 BCC </strong></span>
                                    <span class="progress_label bg-white" style="left: 90%"> <strong> 90,000 BCC </strong></span>
                                    <span class="progress_min_val">Sale Raised</span>
                                    <span class="progress_max_val">Soft-caps</span>
                                </div>
                                <a href="account/login" class="btn btn-default animation" data-animation="fadeInUp" data-animation-delay="0.9s">Buy Tokens <i class="ion-ios-arrow-thin-right"></i></a>
                                <ul class="icon_list list_none d-flex justify-content-center">
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1s"><i class="fa fa-cc-visa"></i></li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1.1s"><i class="fa fa-cc-mastercard"></i></li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1.2s"><i class="fa fa-bitcoin"></i></li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="1.3s"><i class="fa fa-paypal"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider large_divider"></div>
        </div>
    </section>
    <!-- END SECTION TOKEN SALE -->
    <!-- START SECTION TIMELINE -->
    <section id="roadmap" class="section_gradiant3" data-z-index="1" data-parallax="scroll" data-image-src="~/assets/images/New/roadmap_bg4.png">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 col-md-12 offset-lg-3">
                    <div class="title_default_light text-center">
                        <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Roadmap</h4>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">The use of cryptocurrencies has become more widespread, The origin platform idea. Development of the concept and business plan.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline owl-carousel small_space">
                        <div class="item">
                            <div class="timeline_box complete">
                                <div class="timeline_inner">
                                    <div class="timeline_circle"></div>
                                    <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Aprile 2018</h6>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Inotial Coin Distribution &amp; maketing</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timeline_box complete current">
                                <div class="timeline_inner">
                                    <div class="timeline_circle"></div>
                                    <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">February 2018</h6>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Exchange Cryptocash to Bitcoin</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timeline_box">
                                <div class="timeline_inner">
                                    <div class="timeline_circle"></div>
                                    <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">March 2018</h6>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">BTCC mode of payment in Cryptocash </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timeline_box">
                                <div class="timeline_inner">
                                    <div class="timeline_circle"></div>
                                    <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">June 2018</h6>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Send-Receive coin Cryptocash & mobile</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timeline_box">
                                <div class="roadmap_inner">
                                    <div class="timeline_circle"></div>
                                    <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">October 2018</h6>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Coin Marketcap, World Coin Index</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timeline_box">
                                <div class="timeline_inner">
                                    <div class="timeline_circle"></div>
                                    <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">December 2018</h6>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Online & Trading ICO Token Sale</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timeline_box">
                                <div class="timeline_inner">
                                    <div class="timeline_circle"></div>
                                    <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">December 2018</h6>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Deposit Bitcoin from your account</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION TIMELINE -->
    <!-- START SECTION WHITEPAPER -->
    <section id="whitepaper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 offset-lg-3">
                    <div class="title_cyan_dark text-center">
                        <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Download Our Documents</h4>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Marketers create whitepapers to educate their audience about a particular issue, or explain and promote a particular methodology</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center small_space">
                <div class="col-lg-7 order-md-first">
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.7s">A purely peer-to-peer version of electronic cash would allow online payments to be sent directly from one party to another without going through a financial institution.Digital signatures provide part of the solution, but the main benefits are lost if a trusted third party is still required to prevent double-spending.</p>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.8s">The network timestamps transactions by hashing them into an ongoing chain of hash-based proof-of-work, forming a record that cannot be changed without redoing the proof-of-work.</p>
                    <div class="document_wrap">
                        <label>Document</label>
                        <div class="document_dropdown">
                            <select id="doc_select">
                                <option value="Whitepaper">Whitepaper</option>
                            </select>
                        </div>
                    </div>
                    <div class="tab-content document_tab">
                        <div class="tab-pane fade show active" id="Whitepaper" role="tabpanel">
                            <ul class="list_none doc_lan text-center">
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                                    <a href="~/Content/5gprime_whitepaper.pdf">
                                        <img src="~/assets/images/New/eng_flage.png" alt="eng_flage">
                                        <span>
                                            English
                                            <i class="ion-ios-download-outline"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION WHITEPAPER -->
    <!-- START SECTION FAQ -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="title_cyan_dark text-center">
                        <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Frequently Asked Questions</h4>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"> Questions and Answers (Q&A), are listed questions and answers, all supposed to be commonly asked in some context</p>
                    </div>
                </div>
            </div>
            <div class="row small_space">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="tab_content">
                        <ul class="nav nav-pills tab_nav_s2 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                                <a class="active" data-toggle="tab" href="#tab1">General</a>
                            </li>
                            <li class="nav-item animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                <a data-toggle="tab" href="#tab2">Pre-ICO & ICC </a>
                            </li>
                            <li class="nav-item animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                                <a data-toggle="tab" href="#tab3">ICO Tokens</a>
                            </li>
                            <li class="nav-item animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                <a data-toggle="tab" href="#tab4">Legal</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                <div id="accordion1" class="faq_question">
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                        <div class="card-header" id="headingOne">
                                            <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is cryptocurrency?</a> </h6>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                                            <div class="card-body"> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                        <div class="card-header" id="headingTwo">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Which cryptocurrency is best to buy today?</a> </h6>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                            <div class="card-body"> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                        <div class="card-header" id="headingThree">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How about day trading crypto?</a> </h6>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                            <div class="card-body"> While profits are possible trading cryptocurrencies, so are losses. My first year involved me spending hundreds of hours trading Bitcoin with a result of losing over $5,000 with nothing to show for it. Simply trading digital currencies is very similar to gambling because no one really knows what is going to happen next although anyone can guess! While I was lucky to do nothing expect lose money when I started, the worst thing that can happen is to get lucky right away and get a big ego about what an amazing cryptocurrency trader we are. </div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="1s">
                                        <div class="card-header" id="headingFour">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">When to sell a cryptocurrency?</a> </h6>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion1">
                                            <div class="card-body"> Before Steem I was all in an another altcoin and really excited about it. When I first bought the price was low and made payments to me every week just for holding it. As I tried to participate in the community over the next several months, I was consistently met with a mix of excitement and hostility. When I began talking openly about this, the negative emotions won over in the community and in me. Originally I had invested and been happy to hold no matter what the price which quickly went up after I bought it. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2" role="tabpanel">
                                <div id="accordion2" class="faq_question">
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                        <div class="card-header" id="headingFive">
                                            <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">How does one acquire bitcoins?</a> </h6>
                                        </div>
                                        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion2">
                                            <div class="card-body"> While it may be possible to find individuals who wish to sell bitcoins in exchange for a credit card or PayPal payment, most exchanges do not allow funding via these payment methods. This is due to cases where someone buys bitcoins with PayPal, and then reverses their half of the transaction. This is commonly referred to as a chargeback.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                        <div class="card-header" id="headingSix">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Can I make money with Bitcoin?</a> </h6>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion2">
                                            <div class="card-body"> You should never expect to get rich with Bitcoin or any emerging technology. It is always important to be wary of anything that sounds too good to be true or disobeys basic economic rules.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                        <div class="card-header" id="headingSeven">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">What happens when bitcoins are lost?</a> </h6>
                                        </div>
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion2">
                                            <div class="card-body">When a user loses his wallet, it has the effect of removing money out of circulation. Lost bitcoins still remain in the block chain just like any other bitcoins. However, lost bitcoins remain dormant forever because there is no way for anybody to find the private key(s) that would allow them to be spent again. Because of the law of supply and demand, when fewer bitcoins are available, the ones that are left will be in higher demand and increase in value to compensate.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="1s">
                                        <div class="card-header" id="headingEight">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Who controls the Bitcoin network?</a> </h6>
                                        </div>
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion2">
                                            <div class="card-body">Nobody owns the Bitcoin network much like no one owns the technology behind email. Bitcoin is controlled by all Bitcoin users around the world. While developers are improving the software, they can't force a change in the Bitcoin protocol because all users are free to choose what software and version they use.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3" role="tabpanel">
                                <div id="accordion3" class="faq_question">
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                        <div class="card-header" id="headingNine">
                                            <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">How are bitcoins created?</a> </h6>
                                        </div>
                                        <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordion3">
                                            <div class="card-body"> New bitcoins are generated by a competitive and decentralized process called "mining". This process involves that individuals are rewarded by the network for their services. Bitcoin miners are processing transactions and securing the network using specialized hardware and are collecting new bitcoins in exchange.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                        <div class="card-header" id="headingTen">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Why do bitcoins have value?</a> </h6>
                                        </div>
                                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion3">
                                            <div class="card-body">Bitcoins have value because they are useful as a form of money. Bitcoin has the characteristics of money (durability, portability, fungibility, scarcity, divisibility, and recognizability) based on the properties of mathematics rather than relying on physical properties (like gold and silver) or trust in central authorities (like fiat currencies). In short, Bitcoin is backed by mathematics. </div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                        <div class="card-header" id="headingEleven">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">What determines bitcoin's price?</a> </h6>
                                        </div>
                                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion3">
                                            <div class="card-body"> The price of a bitcoin is determined by supply and demand. When demand for bitcoins increases, the price increases, and when demand falls, the price falls. There is only a limited number of bitcoins in circulation and new bitcoins are created at a predictable and decreasing rate</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="1s">
                                        <div class="card-header" id="headingTwelve">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">Can bitcoins become worthless?</a> </h6>
                                        </div>
                                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion3">
                                            <div class="card-body"> Yes. History is littered with currencies that failed and are no longer used, such as the German Mark during the Weimar Republic and, more recently, the Zimbabwean dollar.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab4" role="tabpanel">
                                <div id="accordion4" class="faq_question">
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                        <div class="card-header" id="headingThirteen">
                                            <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">Is Bitcoin legal?</a> </h6>
                                        </div>
                                        <div id="collapseThirteen" class="collapse show" aria-labelledby="headingThirteen" data-parent="#accordion4">
                                            <div class="card-body">To the best of our knowledge, Bitcoin has not been made illegal by legislation in most jurisdictions. However, some jurisdictions (such as Argentina and Russia) severely restrict or ban foreign currencies. Other jurisdictions (such as Thailand) may limit the licensing of certain entities such as Bitcoin exchanges.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                        <div class="card-header" id="headingFourteen">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">Is Bitcoin useful for illegal activities?</a> </h6>
                                        </div>
                                        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion4">
                                            <div class="card-body">Bitcoin is money, and money has always been used both for legal and illegal purposes. Cash, credit cards and current banking systems widely surpass Bitcoin in terms of their use to finance crime. Bitcoin can bring significant innovation in payment systems and the benefits of such innovation are often considered to be far beyond their potential drawbacks.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                        <div class="card-header" id="headingFifteen">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">Can Bitcoin be regulated?</a> </h6>
                                        </div>
                                        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion4">
                                            <div class="card-body"> The Bitcoin protocol itself cannot be modified without the cooperation of nearly all its users, who choose what software they use. Attempting to assign special rights to a local authority in the rules of the global Bitcoin network is not a practical possibility.</div>
                                        </div>
                                    </div>
                                    <div class="card animation" data-animation="fadeInUp" data-animation-delay="1s">
                                        <div class="card-header" id="headingSixteen">
                                            <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">What about Bitcoin and taxes?</a> </h6>
                                        </div>
                                        <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion4">
                                            <div class="card-body"> Bitcoin is not a fiat currency with legal tender status in any jurisdiction, but often tax liability accrues regardless of the medium used. There is a wide variety of legislation in many different jurisdictions which could cause income, sales, payroll, capital gains, or some other form of tax liability to arise with Bitcoin.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION FAQ -->
    <!-- START SECTION CONTACT -->
    @*<section id="contact" class="contact_section bg_gray3 p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-7 col-md-6 p-0">
                        <div id="map" class="w-100 contact_map2"></div>
                    </div>
                    <div class="col-xl-5 col-md-6">
                        <div class="contact_info_box">
                            <div class="title_cyan_dark">
                                <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Leave a Message</h4>
                                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">If You have any questions? we're happy to help</p>
                            </div>
                            <form method="post" name="enq" class="field_form">
                                <div class="row">
                                    <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                        <input type="text" required="required" placeholder="Enter Name *" id="first-name" class="form-control" name="name">
                                    </div>
                                    <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                        <input type="email" required="required" placeholder="Enter Email *" id="email" class="form-control" name="email">
                                    </div>
                                    <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                        <textarea required="required" placeholder="Message *" id="description" class="form-control" name="message" rows="3"></textarea>
                                    </div>
                                    <div class="col-md-12 animation" data-animation="fadeInUp" data-animation-delay="1s">
                                        <button type="submit" title="Submit Your Message!" class="btn btn-default btn-radius" id="submitButton" name="submit" value="Submit">Submit <i class="ion-ios-arrow-thin-right"></i></button>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="alert-msg" class="alert-msg text-center"></div>
                                    </div>
                                </div>
                            </form>
                            <ul class="list_none info_contact3 half-info small_text">
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                                    <i class="fa fa-globe"></i>
                                    <div class="contact_detail">
                                        <p>4 Montgomery, NY 12549 </p>
                                    </div>
                                </li>
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                    <i class="fa fa-phone"></i>
                                    <div class="contact_detail">
                                        <p>+23 0123 4567</p>
                                    </div>
                                </li>
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                    <i class="fa fa-envelope"></i>
                                    <div class="contact_detail">
                                        <p>Yourmail@gmail.com</p>
                                    </div>
                                </li>
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                    <i class="fa fa-send"></i>
                                    <div class="contact_detail">
                                        <p>Join us on Telegram</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- END SECTION CONTACT -->
    <!-- START CLIENTS SECTION -->
    <section class="client_logo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title_cyan_dark text-center">
                        <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Our Partners</h4>
                    </div>
                </div>
            </div>
            <div class="row align-items-center text-center overflow_hide small_space">
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                        <img src="~/assets/images/New/client_logo_dark_gray1.png" alt="client_logo_dark_gray1" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                        <img src="~/assets/images/New/client_logo_dark_gray2.png" alt="client_logo_dark_gray2" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                        <img src="~/assets/images/New/client_logo_dark_gray3.png" alt="client_logo_dark_gray3" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                        <img src="~/assets/images/New/client_logo_dark_gray4.png" alt="client_logo_dark_gray4" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                        <img src="~/assets/images/New/client_logo_dark_gray5.png" alt="client_logo_dark_gray5" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                        <img src="~/assets/images/New/client_logo_dark_gray6.png" alt="client_logo_dark_gray6" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="0.9s">
                        <img src="~/assets/images/New/client_logo_dark_gray7.png" alt="client_logo_dark_gray7" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 logo_border">
                    <div class="d-flex flex-wrap align-items-center justify-content-center h-100 animation" data-animation="fadeInUp" data-animation-delay="1s">
                        <img src="~/assets/images/New/client_logo_dark_gray8.png" alt="client_logo_dark_gray8" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CLIENTS SECTION -->
    <!-- START FOOTER SECTION -->
    <footer class="section_gradiant3" data-z-index="1" data-parallax="scroll" data-image-src="~/assets/images/New/roadmap_bg4.png">
        <div class="top_footer" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer_logo mb-3 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <a href="#home_section" class="page-scroll">
                                <img alt="logo" src="~/assets/images/New/footer_logo.png">
                            </a>
                        </div>
                        <div class="footer_desc small_text">
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Cryptocash stands firmly in support of financial freedom and the liberty that Bitcoin provides globally for anyone.</p>
                        </div>
                        @*<ul class="list_none social_icon social_bg_tran d-md-flex mt-3">
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"><a href="#"><i class=" fa fa-facebook"></i></a></li>
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><a href="#"><i class=" fa fa-twitter"></i></a></li>
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s"><a href="#"><i class=" fa fa-google-plus"></i></a></li>
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.7s"><a href="#"><i class=" fa fa-pinterest"></i></a></li>
                                <li class="animation" data-animation="fadeInUp" data-animation-delay="0.8s"><a href="#"><i class=" fa fa-linkedin"></i></a></li>
                            </ul>*@
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-auto res_sm_mt_20">
                        <h4 class="footer_title_s2 animation" data-animation="fadeInUp" data-animation-delay="0.2s">Quick Links</h4>
                        <ul class="footer_link list_none">
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s"><a href="#">Home</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a href="#">Services</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s"><a href="#">Tokens</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.9s"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6 col-auto res_sm_mt_20">
                        <h4 class="footer_title_s2 animation" data-animation="fadeInUp" data-animation-delay="0.2s">Support</h4>
                        <ul class="footer_link list_none">
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s"><a href="#">Documentation</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                                <a href="mailto:support@5gprimeico-pro.com Primer-ico.com"> Contact Us: support@5gprimeico-pro.com</a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="col-lg-4 col-md-12 res_md_mt_30 res_sm_mt_20">
                        <div class="newsletter_form newsletter_form_s2">
                            <h4 class="footer_title_s2 animation" data-animation="fadeInUp" data-animation-delay="0.2s">SUBSCRIBE Newsletter</h4>
                            <div class="footer_desc small_text mb-3">
                                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">By subscribing to our mailing list you will always be update with the latest news from us.</p>
                            </div>
                            <form class="subscribe_form animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                <input class="input_outline_white input-rounded" type="text" required placeholder="Enter Email" />
                                <button type="submit" title="Subscribe" class="btn-default btn_icon" name="submit" value="Submit"> <i class="fa fa-send"></i> </button>
                            </form>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_bottom">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p class="copyright">Copyright &copy; 2020 - 2021 Prolution</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <a href="#" class="scrollup btn-default"><i class="ion-ios-arrow-up"></i></a>

    <!-- JS Plugins -->
    <!-- Latest jQuery -->
    <!--<script src="~/assets/home/jquery-3.6.0.min.js"></script>-->
    <!-- Latest compiled and minified Bootstrap -->
    <!--<script src="~/assets/home/bootstrapJs/bootstrap.bundle.min.js"></script>
    <script src="~/assets/home/bootstrapJs/bootstrap.bundle.min.js"></script>-->
    <!-- owl-carousel min js  -->
    <!-- magnific-popup min js  -->
    <!--<script src="~/assets/home/magnific-popup.min.js"></script>-->
    <!-- waypoints min js  -->
    <!--<script src="~/assets/home/waypoints.min.js"></script>-->
    <!-- parallax js  -->
    <!--<script src="~/assets/home/parallax.js"></script>-->
    <!-- countdown js  -->
    <!--<script src="~/assets/home/jquery.countdown.min.js"></script>
    <script src="https://kit.fontawesome.com/a9545f17e8.js" crossorigin="anonymous"></script>-->
    <!-- particles min js  -->
    <!--<script src="~/assets/home/particles.min.js"></script>-->
    <!-- scripts js -->
    <!--<script src="~/assets/home/jquery.dd.min.js"></script>-->
    <!-- jquery.counterup.min js -->
    <!--<script src="~/assets/home/jquery.counterup.min.js"></script>-->
    <!-- scripts js -->
    <!--<script src="~/assets/home/scripts.js"></script>
    <script src="~/plugins/TweenMax.min.js"></script>-->
    <!-- new js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous"></script>
    <!-- Latest jQuery -->
    <script src="~/assets/js/script/jquery-3.6.0.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/assets/js/script/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="~/assets/js/script/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="~/assets/js/script/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="~/assets/js/script/parallax.js"></script>
    <!-- countdown js  -->
    <script src="~/assets/js/script/jquery.countdown.min.js"></script>
    <!-- particles min js  -->
    <script src="~/assets/js/script/particles.min.js"></script>
    <!-- scripts js -->
    <script src="~/assets/js/script/jquery.dd.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="~/assets/js/script/jquery.counterup.min.js"></script>
    <!-- Google Map Js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7TypZFTl4Z3gVtikNOdGSfNTpnmq-ahQ&callback=initMap" type="text/javascript"></script>
    <!-- jquery.wavify js -->
    <script src="~/assets/js/script/spop.min.js"></script>
    <script src="~/assets/js/script/notification.js"></script>
    <!-- scripts js -->
    <script src="~/assets/js/script/scripts.js"></script>
    <script id="rendered-js">
        // Create Countdown
        var Countdown = {

            // Backbone-like structure
            $el: $('.countdown'),

            // Params
            countdown_interval: null,
            total_seconds: 0,

            // Initialize the countdown
            init: function () {

                // DOM
                this.$ = {
                    days: this.$el.find('.bloc-time.days .figure'),
                    hours: this.$el.find('.bloc-time.hours .figure'),
                    minutes: this.$el.find('.bloc-time.min .figure'),
                    seconds: this.$el.find('.bloc-time.sec .figure')
                };

                var countDownDate = new Date("june 25, 2020 15:37:25").getTime();
                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                //  Time calculations for days, hours, minutes and seconds
                var days_se = Math.floor(distance / (1000 * 60 * 60 * 24));

                var hours_se = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

                var minutes_se = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

                var seconds_se = Math.floor((distance % (1000 * 60)) / 1000);


                // Init countdown values
                this.values = {
                    days: days_se,
                    hours: hours_se,
                    minutes: minutes_se,
                    seconds: seconds_se
                };


                // Initialize total seconds
                this.total_seconds = this.values.hours * 60 * 60 + this.values.minutes * 60 + this.values.seconds;

                // Animate countdown to the end
                this.count();
            },

            count: function () {

                var that = this,
                    $days_1 = this.$.days.eq(0),
                    $days_2 = this.$.days.eq(1),
                    $days_3 = this.$.days.eq(2),
                    $hour_1 = this.$.hours.eq(0),
                    $hour_2 = this.$.hours.eq(1),
                    $min_1 = this.$.minutes.eq(0),
                    $min_2 = this.$.minutes.eq(1),
                    $sec_1 = this.$.seconds.eq(0),
                    $sec_2 = this.$.seconds.eq(1);

                console.log(this.$.days)


                this.countdown_interval = setInterval(function () {

                    if (that.total_seconds > 0) {

                        --that.values.seconds;

                        if (that.values.minutes >= 0 && that.values.seconds < 0) {

                            that.values.seconds = 59;
                            --that.values.minutes;
                        }

                        if (that.values.hours >= 0 && that.values.minutes < 0) {

                            that.values.minutes = 59;
                            --that.values.hours;
                        }


                        // Update DOM values
                        //Days
                        that.checkHour(that.values.days, $days_1, $days_2, $days_3);

                        // Hours
                        that.checkHour(that.values.hours, $hour_1, $hour_2);

                        // Minutes
                        that.checkHour(that.values.minutes, $min_1, $min_2);

                        // Seconds
                        that.checkHour(that.values.seconds, $sec_1, $sec_2);

                        --that.total_seconds;
                    } else {
                        clearInterval(that.countdown_interval);
                    }
                }, 1000);
            },

            animateFigure: function ($el, value) {

                var that = this,
                    $top = $el.find('.top'),
                    $bottom = $el.find('.bottom'),
                    $back_top = $el.find('.top-back'),
                    $back_bottom = $el.find('.bottom-back');

                // Before we begin, change the back value
                $back_top.find('span').html(value);

                // Also change the back bottom value
                $back_bottom.find('span').html(value);

                // Then animate
                TweenMax.to($top, 0.8, {
                    rotationX: '-180deg',
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    onComplete: function () {

                        $top.html(value);

                        $bottom.html(value);

                        TweenMax.set($top, { rotationX: 0 });
                    }
                });


                TweenMax.to($back_top, 0.8, {
                    rotationX: 0,
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    clearProps: 'all'
                });

            },

            checkHour: function (value, $el_1, $el_2, $el_3) {

                var val_1 = value.toString().charAt(0);
                var val_2 = value.toString().charAt(1);

                if ($el_3 != null)
                    var val_3 = value.toString().charAt(2);

                var fig_1_value = $el_1.find('.top').html();
                var fig_2_value = $el_2.find('.top').html();

                if ($el_3 != null)
                    var fig_3_value = $el_3.find('.top').html();

                if (value >= 10) {

                    // Animate only if the figure has changed
                    if (fig_1_value !== val_1) this.animateFigure($el_1, val_1);
                    if (fig_2_value !== val_2) this.animateFigure($el_2, val_2);

                    if ($el_3 != null)
                        if (fig_3_value !== val_3)
                            this.animateFigure($el_3, val_3);

                } else {

                    // If we are under 10, replace first figure with 0
                    if (fig_1_value !== '0') this.animateFigure($el_1, 0);
                    if (fig_2_value !== val_1) this.animateFigure($el_2, val_1);
                    if ($el_3 != null)
                        if (fig_3_value !== val_1) this.animateFigure($el_2, val_1);
                }
            }
        };


        // Let's go !
        Countdown.init();
        //# sourceURL=pen.js
    </script>
    <script>

        // Set the date we're counting down to
        var countDownDate = new Date("jan 25, 2022 23:59:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            $('.countdown-time-first').html(days);
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            $('.countdown-time-second').html(hours);
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            $('.countdown-time-third').html(minutes);
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            $('.countdown-time-last').html(seconds);
        }, 1000);
    </script>
</body>

<!-- Mirrored from www.gridnet.io/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Jan 2020 09:46:58 GMT -->
</html>


